/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* 

TABLE OF CONTENTS
    I. GLOBAL STYLES
      IA. BASE STYLES
      IB. GENERAL LAYOUT
        IB1. PARENT COMPONENTS
        IB2. CHILD ELEMENTS
      IC. BASE FONTS
      ID. GENERAL ELEMENTS
    II. SPECIFIC COMPONENT STYLES
      IIA. HEADER
        IIA1. LOGO
        IIA2. NAV
      IIB. HOMEPAGE
        IIB1. HERO IMAGE
        IIB2. CALL-TO-ACTION
        IIB3. SERVICES
        IIB4. PREVIOUS RETREATS
      IIC. ABOUT
        IIC1. MISSION
        IIC2. MAP
        IIC3. CONTACT (ABOUT)
      IID. FAQ
      IIE. FOOTER
        IIE1. FOOTER TEXT STYLES
        IIE2. SOCIAL MEDIA ICONS
        IIE3. COPYRIGHT

    ===== MEDIA QUERIES =====

    III. TABLET STYLES
        IIIA. TABLET : GLOBAL STYLES
          IIIA1. TABLET : GENERAL LAYOUT
            IIIA1a. TABLET : PARENT COMPONENTS
            IIIA1b. TABLET : CHILD ELEMENTS
          IIIA2. TABLET :  BASE FONTS
        IIIB. TABLET : SPECIFIC COMPONENT STYLES
          IIIB1. TABLET : HEADER
                IIIB1a. TABLET : LOGO
                IIIB1b. TABLET : NAV
          IIIB2. TABLET : HOMEPAGE
                IIIB2a. TABLET : HERO IMAGE
                IIIB2b. TABLET : CALL-TO-ACTION
                IIIB2c. TABLET : SERVICES
                IIIB2d. TABLET : PREVIOUS RETREATS
          IIIB3. TABLET : ABOUT
                IIIB3a. TABLET : MAP
                IIIB3b. TABLET : CONTACT (ABOUT)
          IIIB4. TABLET : FAQ
          IIIB5. TABLET : FOOTER
                IIIB5a. TABLET : FOOTER TEXT STYLES

    IV. DESKTOP STYLES
        IVA. DESKTOP : GLOBAL STYLES
          IVA1. DESKTOP : BASE STYLES
          IVA2. DESKTOP : GENERAL LAYOUT
            IVA2a. DESKTOP : PARENT COMPONENTS
            IVA2b. DESKTOP : CHILD ELEMENTS
          IVA3. DESKTOP :  BASE FONTS
        IVB. DESKTOP : SPECIFIC COMPONENT STYLES
          IVB1. DESKTOP : HEADER
                IVB1a. DESKTOP : LOGO
          IVIB2. DESKTOP : HOMEPAGE
                IVB2a. DESKTOP : HERO IMAGE
                IVB2b. DESKTOP : CALL-TO-ACTION
                IVB2c. DESKTOP : SERVICES
          IVB3. DESKTOP : ABOUT
                IVB3a. DESKTOP : MAP
                IVB3b. DESKTOP : CONTACT (ABOUT)
          IVB4. DESKTOP : FAQ
          IVB5. DESKTOP : FOOTER
                IVB5a. DESKTOP : FOOTER TEXT STYLES
                IVB5b. DESKTOP : SOCIAL MEDIA ICONS

*/

/* ===== I. GLOBAL STYLES ===== */

/* === IA. BASE STYLES === */
:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202322;
    color: #e2e3ed;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
}

/* === IB. GENERAL LAYOUT === */

/* = IB1. PARENT COMPONENTS = */

header,
.flex-col-row,
footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
}

header,
section,
aside,
footer {
    max-width: 768px;
    padding-left: 5%;
    padding-right: 5%;
}

.flex-col-row {
    padding-top: 30px;
    padding-bottom: 54px;
}

/* = IB2. CHILD ELEMENTS = */

.full,
.full-2col,
.service,
aside,
form {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
}

/* === IC. BASE FONTS === */

.heading-lg {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
    margin: 0;
    padding-top: 3.5rem;
}

.heading-md-lg,
.heading-md {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875rem;
    margin: 1.5rem 0;
}

.heading-sm {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    margin: 1.125rem 0;
}

p {
    font-size: 0.875rem;
    line-height: 1.125rem;
}

a,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #e2e3ed
}

/* === ID. GENERAL ELEMENTS === */

figure {
    margin: 0;
}

img {
    width: 100%;
}

/* ===== II. SPECIFIC COMPONENT STYLES ===== */

/* === IIA. HEADER === */

header {
    align-items: center;
}

/* = IIA1. LOGO = */

#logo-img {
    max-width: 180px;
    margin: 1rem;
}

/* = IIA2. NAV = */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125rem;
    margin: 0;
}

/* === IIB. HOMEPAGE === */

/* = IIIB1. HERO IMAGE === */

#hero-img {
    background: #527158 url(../img/jake-melara-30679-unsplash.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
}

/* = IIIB2. CALL-TO-ACTION = */

#call-to-action {
    background-color: #527158;
}

input {
    border: none;
    padding: 1rem;
    margin: .5rem 0;
}

input[type="email"] {
    background-color: #e2e3ed;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 0.875rem;
    color: #9d9ea4;
}

input[type="submit"] {
    background-color: #2a423a;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #e2e3ed;
}

/* = IIIB3. SERVICES = */

#services {
    background: #29423a url(../img/rawpixel-800820-unsplash1.jpg) no-repeat center center;
    background-size: cover;
}

.service {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.service i {
    text-align: center;
    font-size: 3.75rem;
}

.service p {
    width: 70%;
}

/* = IIIB4. PREVIOUS RETREATS = */

#previous-retreats {
    background-color: #29423a;
}

/* === IIC. ABOUT === */

/* = IIC1. MISSION = */

#mission {
    background-color: #527158;
}

/* = IIC2. MAP = */

#map {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 125%;
    overflow: hidden;
}

#map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* = IIC3. CONTACT (ABOUT) = */

#contact {
    background-color: #29423a;
}

#contact address {
    font-size: 0.875rem;
    font-style: normal;
}

/* === IID. FAQ === */

#faq-section {
    background-color: #527158;
    padding: 54px 5% 54px 5%;
}

#faqs {
    padding: 0;
}

dt {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

dd {
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin: 0;
    padding-bottom: 2rem;
}

/* === IIE. FOOTER === */

footer,
footer #copyright {
    padding-top: 30px;
}

/* = IIE1. FOOTER TEXT STYLES = */

.footer-heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.125rem;
    margin: 1.5rem 0;
}

.footer-text {
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    margin: 0.875rem 0;
}

/* = IIE2. SOCIAL MEDIA ICONS = */

#social-media {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.social-icons {
    width: 3rem;
    height: 3rem;
    background-color: #527158;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i {
    text-align: center;
    font-size: 1.125rem;
}

/* = IIE3. COPYRIGHT = */

#copyright {
    padding-top: 3rem;
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

    /* ===== III. TABLET STYLES ===== */

    /* === IIIA. TABLET : GLOBAL STYLES === */

    /* = IIIA1. TABLET : GENERAL LAYOUT = */

    /* IIIA1a. TABLET : PARENT COMPONENTS = */

    header,
    section,
    aside,
    footer {
        max-width: 1200px;
        padding: 0 8.5%;
    }

    header,
    .flex-col-row,
    footer {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .flex-col-row {
        padding-top: 80px;
        padding-bottom: 104px;
    }
    
    /* IIIA1b. TABLET : CHILD ELEMENTS */

    .full-2col,
    .service {
        flex-basis: 48%;
    }

    /* = IIIA2. TABLET : BASE FONTS = */

    .heading-lg {
        font-size: 3rem;
        padding-top: 6.5rem;
    }

    .heading-md-lg,
    .heading-md {
        font-size: 2.25rem;
    }

    .heading-sm {
        font-size: 1.5rem;
    }

    /* === IIIB. TABLET : SPECIFIC COMPONENT STYLES === */

    /* = IIIB1. TABLET : HEADER = */

    /* IIIB1a. TABLET : LOGO */

    #logo-img {
        max-width: 174px;
    }

    /* IIIB1b. TABLET : NAV */

    nav ul {
        justify-content: flex-end;
    }

    nav ul li a {
        font-size: 1rem;
    }

    /* = IIIB2. TABLET : HOMEPAGE = */

    /* IIIB2a. TABLET : HERO IMAGE */
    
    #hero-img {
        height: 600px;
    }

    /* IIIB2b. TABLET : CALL-TO-ACTION */

    #call-to-action {
        padding: 54px 8.5%;
    }

    #call-to-action div {
        flex-basis: 45%;
    }

    /* IIIB2c. TABLET : SERVICES */

    .service {
        padding: 5%;
    }

    .service i {
        font-size: 4.5rem;
    }

    /* IIIB2d. PREVIOUS RETREATS */

    #prev-retreat-text .heading-sm,
    #prev-retreat-text p {
        margin-top: 0;
    }

    /* = IIIB3. TABLET : ABOUT = */

    /* IIIB3a. TABLET : MAP */

    #map {
        padding-bottom: 46%;
    }

    /* IIIB3b. TABLET : CONTACT (ABOUT) */

    #contact address {
        line-height: 1.125rem;
    }

    /* = IIIB4. TABLET : FAQ = */

    #faq-section {
        padding: 80px 5% 92px 5%;
    }

    dt {
        font-size: 0.875rem;
        line-height: 1.125rem;
    }

    /* = IIIB5. TABLET : FOOTER =*/

    footer,
    footer #copyright {
        padding-top: 80px;
    }

    /* IIIB5a. TABLET : FOOTER TEXT STYLES = */

    .footer-heading {
        font-size: 1.5rem;
    }
    
    .footer-text {
        line-height: 1.5rem
    }

}

@media only screen and (min-width: 1200px) {

    /* ===== IV. DESKTOP STYLES ===== */

    /* === IVA. DESKTOP : GLOBAL STYLES === */

    /* = IVA1. DESKTOP : BASE STYLES = */

    :root {
        font-size: 18px;
    }

    /* = IVA2. DESKTOP : GENERAL LAYOUT = */

    /* IVA2a. DESKTOP : PARENT COMPONENTS */

    header,
    section,
    aside,
    footer {
        max-width: none;
        padding-left: 10%;
        padding-right: 10%;
    }

    /* IVA2b. DESKTOP : CHILD ELEMENTS */

    .service {
        flex-basis: 30%;
    }

    /* = IVA3. DESKTOP : BASE FONTS = */

    .heading-lg {
        font-size: 3.333rem;
        padding-top: 3rem;
    }

    .heading-md-lg {
        font-size: 2.667rem;
    }

    .heading-md {
        font-size: 2rem;
    }

    .heading-sm {
        font-size: 1.667rem;
    }

    p {
        font-size: 1rem;
        line-height: 1.333rem;
    }

    /* === IVB. DESKTOP : SPECIFIC COMPONENT STYLES === */

    /* = IVB1. DESKTOP : HEADER = */

    /* IVB1a. DESKTOP : LOGO */

    #logo-img {
        max-width: 262px;
    }

    /* = IVB2. DESKTOP : HOMEPAGE = */

    /* IVB2a. DESKTOP : HERO IMAGE */

    #hero-img .heading-lg {
        width: 75%;
    }

    /* IVB2b. DESKTOP : CALL-TO-ACTION */

    #call-to-action {
        padding: 54px 15%;
        justify-content: space-between;
    }

    #call-to-action div {
        flex-basis: 40%;
    }

    /* IVB2c. DESKTOP : SERVICES */

    .service {
        padding: 2%;
    }

    .service i {
        font-size: 4rem;
    }

    /* = IVB3. DESKTOP : ABOUT = */ 

    /* IVB3a. DESKTOP : MAP */

    #map {
        padding-bottom: 38%;
    }

    /* IVB3b. DESKTOP : CONTACT (ABOUT) */

    #contact address {
        font-size: 1rem;
    }

    /* = IVB4. DESKTOP : FAQ = */

    #faq-section {
        padding: 80px 10% 92px 10%;
    }

    dt {
        font-size: 1rem;
        line-height: 1rem;
    }
    
    dd {
        font-size: 1rem;
        line-height: 1rem;
    }

    /* = IVB5. DESKTOP : FOOTER = */

    /* IVB5a. DESKTOP : FOOTER TEXT STYLES */

    .footer-heading {
        font-size: 1.667rem;
    }
    
    .footer-text {
        font-size: 1rem;
        line-height: 1.333rem;
    }

    /* IVB5B. DESKTOP : SOCIAL MEDIA ICONS */

    footer i {
        font-size: 1rem;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


